<p id="notice"><%= notice %></p>


<main class="wrapper">
  <section class="box">
  	<div class="question">
	 	<h2 class="quesContent"><%= @question.content %></h2>
	    <% @question.answers.each do |ans| %>
	      	<div class="ansOf">
			<aside>
				<% if ans.user.profile_picture %>
					<img src="/uploads/<%= ans.user.profile_picture %>">
				<% else %>
					<%= image_tag ("profile-pic.png") %>
				<% end %>
			</aside>
			<h4><%= ans.user.email %></h4>
    		</div>
   			<div class= "answer_<%= ans.id %>">
	      		<%= render 'upvote', ans: ans %>
	      	</div>
	     <% end %>
  </section>
</main>


<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
