<div class="question">
	<h2 class="quesContent"><%= ques.content %></h2>
	<div id="actions">
	  <button id="editor_<%=ques.id%>">Answer</button>
	  
	  <%=  form_for(@answer, :html => {:id => "editContainer_#{ques.id}"}) do |f| %>
		  	<div class="field">
			    <%= f.text_area :content , :id => "ansEditor_#{ques.id}" %>
	  		</div>
	  		<!-- Hidden field to get the id of the question to which answer belongs -->
	  		<div class="field">
			    <%= f.hidden_field :question_id , value: ques.id %>
	  		</div>
	  		<div class="submit">
				<%= f.submit "Submit Answer"%>
			</div>
	  <% end %>
	</div>
</div>
<style type="text/css">
	#editContainer_<%=ques.id%>{
		display: none;
	}
</style>
<script type="text/javascript">
	$('#editor_<%=ques.id%>').click(function(){
		$('#editor_<%=ques.id%>').hide();
		CKEDITOR.replace( 'ansEditor_<%=ques.id%>');
		$('#editContainer_<%=ques.id%>').show();
	})
</script>